configuration {
  modi: "window,run";
  font: "Iosevka Term 20";
  line-margin: 10;
  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";
  show-icons:     true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "~/.config/rofi/nord.rasi"

window {
	width: 30%;
}
